<!doctype html>

<html>
    <head>
       <title>Graphic Design Importance</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>

<body>
<div class="container">
  <h2>Graphic design visual importance</h2>
  <form  action="/upload" method="post" role="form" target="_blank" enctype="multipart/form-data">
      <label class="btn btn-default btn-file">
          Browse <input <input type="file" name="image" style="display: none;">
      </label>
      <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
</div>

</body>
</html>